/* g:panorama/styles/dashboard */
DOTADashboard,
#DashboardCore,
#DashboardOverlay,
#DashboardForeground {
  background-image: none;
}

/* g:panorama/styles/showcase/showcase_background */
#BackgroundImage {
  visibility: collapse;
}

/* g:panorama/styles/dashboard_background_last_match */
#BackgroundMovie {
  /* width & height can be removed if the stretch effect isn't desired */
  width: 100%;
  height: 100%;
  vertical-align: center;
  horizontal-align: center;
  z-index: 1;
}

#DetailsContainer,
#MissingDataContainer,
#BGVignette,
.BackgroundFadeOverlay {
  visibility: collapse;
}

/* g:panorama/styles/dashboard_background_manager */
.DashboardBackground {
  visibility: visible;
}

/* g:panorama/styles/hero_loadout_background_images */
#HeroLoadoutBackgroundImageContainer {
  visibility: collapse;
}
