/* g:panorama/styles/hud/dota_hud_ability_panel */
.Reborn #AbilityBevel,
#InvokerSpellCardButton,
.AbilityInsetShadowLeft,
.AbilityInsetShadowRight,
.TertiaryAbilityContainer,
#RightSideHeroBlur,
#unitbadge,
#unitname,
#arcana_container,
#WKArcana {
  visibility: collapse;
}

/* g:panorama/styles/hud/dota_hud_common_items */
.CommonItemsTitle,
.TeamItemsEmpty .TeamItemOnly #EmptyLabelContainer {
  visibility: collapse;
}

/* g:panorama/styles/hud/dota_hud_hero_statue */
DOTAHeroStatue.Visible {
  visibility: collapse;
}

/* g:panorama/styles/hud/dota_hud_inventory */
#HUDSkinInventoryBG {
  visibility: collapse;
}

/* g:panorama/styles/hud/hud_reborn */
.AbilityInsetShadowLeft,
#left_flare,
#right_flare {
  visibility: collapse;
}

/* g:panorama/styles/hud/dota_hud_stat_branch */
.DescriptionDrawer.HasDescription {
  visibility: collapse;
}

/* g:panorama/styles/hud/dota_hud_shop */
.ItemContextMenuInstructionsContainer {
  visibility: collapse;
}

/* g:panorama/styles/hud/dota_hud_top_bar */
/* legacy topbar backgrounds */
.Reborn.CustomHUDSkin:not(.HIDE_TOP_BAR_BACKGROUND) #HUDSkinTopBarBG {
  visibility: collapse;
}

/* ----------------------------------------------------- */

/* g:panorama/styles/dota_hud_tormentor_timer */
DOTATormentorTimer {
  background-image: none;
}

/* g:panorama/styles/dotastyles */
DOTAItemImage.Reborn #ButtonWell {
  background-image: none;
}

/* g:panorama/styles/hud/dota_hud_inventory */
.Reborn #inventory_items {
  background-image: none;
}

/* g:panorama/styles/hud/dota_hud_item_build */
#ItemBuildBackground {
  background-image: none;
}

/* g:panorama/styles/hud/dota_hud_quick_buy */
.Reborn .ShopInRange #ShopButton,
.Reborn #QuickBuyRows,
.Reborn #ShopButton {
  background-image: none;
}

/* g:panorama/styles/hud/dota_hud_shop */
#GuideFlyoutContainer,
#GuidesButton,
#HeightLimiterContainer,
.ShowFilters #FilterContainer,
#NewPlayerShopConsumables,
#TeamItems {
  background-image: none;
}

/* g:panorama/styles/hud/dota_hud_stat_branch */
.EndCap,
.BranchDescription,
.ShowStatBranchAsTooltip .StatBranchCenter {
  background-image: none;
}

/* g:panorama/styles/hud/dota_hud_top_bar */
.TopBarBackground,
#TimeOfDayBG {
  background-image: none;
}

/* g:panorama/styles/hud/hud_reborn */
.UnitDead #center_bg,
#center_bg,
#GlyphScanContainer,
#left_flare,
#minimap_block,
#right_flare,
#RoshanTimer,
#shop_launcher_bg,
#PortraitBacker {
  background-image: none;
}

/* g:panorama/styles/shop_item_combines */
.ShowMainShop DOTAShopItemCombines {
  background-image: none;
}

/* g:panorama/styles/tooltips/tooltip_ability */
.IsItem #Contents {
  background-image: none;
}

/* ----------------------------------------------------- */

/* g:panorama/styles/dota_hud_netgraph */
DOTANetGraph {
  background-color: none;
}

/* g:panorama/styles/hud/dota_hud_inventory */
#inventory_items {
  background-color: none;
}

/* g:panorama/styles/hud/dota_hud_item_build */
.BuildHeaderContainer {
  background-color: none;
}

/* g:panorama/styles/hud/dota_hud_neutral_item_picker */
.TooltipContents {
  background-color: none;
  box-shadow: none;
}

/* g:panorama/styles/hud/dota_hud_quick_buy */
#StickyItemSlotContainer,
#ShopButtonBuybackOverlay,
#QuickBuyRows {
  background-color: none;
}

/* g:panorama/styles/hud/dota_hud_quick_stats */
#QuickStatsContainer {
  background-color: none;
}

/* g:panorama/styles/hud/dota_hud_scoreboard */
DOTAScoreboardPlayer {
  background-color: none;
}

/* g:panorama/styles/hud/dota_hud_shop */
#HeightLimiterContainer,
#ItemCombines,
#SearchTextEntry,
#NewPlayerShopConsumables,
#TeamItems,
#SearchAndButtonsContainer,
.ShopItemsTab {
  background-color: none;
}

/* g:panorama/styles/hud/hud_reborn */
#stragiint,
#stats_container_bg {
  background-color: none;
}

/* ----------------------------------------------------- */

/* g:panorama/styles/dota_hud_radar_button */
#ChargeCount {
  box-shadow: fill #00000000 0px 0px 0px 0px;
}

/* g:panorama/styles/dota_ui_shop_item */
#QuickBuyRows #ItemImage {
  box-shadow: fill #00000000 0px 0px 0px 0px;
}

/* g:panorama/styles/hud/dota_hud_stash */
.Reborn #stash_bg {
  background-image: none;
  background-color: #00000040;
}

/* g:panorama/styles/dota_hud_netgraph */
#LeftColumn Label {
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 10px;
}

#RightColumn_1 Label,
#RightColumn_2 Label {
  color: #ffffff;
}

/* g:panorama/styles/hud/dota_hud_ability_panel */
.InventoryItem.BackpackSlot #ItemImage {
  margin: 0px;
}

.Reborn .BackpackSlot #ButtonWell {
  box-shadow: inset #000 0px 0px 0px;
}

.Reborn .FiveAbilities #abilities #ButtonWell,
.Reborn .SixAbilities #abilities #ButtonWell {
  margin-bottom: 5px;
}

.Reborn .InventoryItem #ButtonSize {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Reborn #center_block .InventoryItem.BackpackSlot,
#ButtonSize {
  box-shadow: inset #000000aa 0px 0px 0px 0px;
}

/* g:panorama/styles/hud/dota_hud_health_mana */
.Reborn #HealthManaContainer {
  margin-bottom: 0px;
}

.Reborn #HealthProgress .ProgressBarRight {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#212121),
    color-stop(0.2, #2e2e2e),
    color-stop(0.5, #2e2e2e),
    to(#212121)
  );
  background-color-opacity: 0.5;
}

.Reborn #ManaProgress .ProgressBarRight {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#212121),
    color-stop(0.2, #2e2e2e),
    color-stop(0.5, #2e2e2e),
    to(#212121)
  );
  background-color-opacity: 0.5;
}

/* g:panorama/styles/hud/dota_hud_inventory */
.BackpackSlot {
  border-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 60px;
  height: 40px;
  transform: translateX(-0px);
}

.Reborn #InventoryBG {
  background-image: none;
  border-bottom: 0px;
}

#inventory_backpack_list {
  margin-top: 104px;
  margin-left: 3px;
}

#inventory_list_container {
  margin-top: 6px;
}

#inventory_list2 {
  margin-top: -5px;
}

/* g:panorama/styles/hud/dota_hud_quick_buy */
.Reborn #ShopButton {
  background-img-opacity: 0;
  box-shadow: #00000000 0px 0px 0px 0px;
}

#Hint {
  font-size: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  visibility: collapse;
}

#ShopButton {
  margin-bottom: 16px;
}

#QuickBuyRows {
  box-shadow: none;
}

DOTAQuickBuy {
  background-color: #00000040;
  border-radius: 16px 0px 0px 0px;
}

/* g:panorama/styles/hud/dota_hud_scoreboard */
#Background {
  background-image: none;
  background-color: #00000040;
  box-shadow: #00000040 0px 0px 8px 0px;
}

DOTAScoreboardPlayer.LocalPlayer {
  background-color: #00000080;
}

/* g:panorama/styles/hud/dota_hud_shop */
.ShopItemsTab {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  width: 132px;
}

.ShopItemsTab:selected {
  border: 1px solid #000000;
  background-color-opacity: 0.2;
}

#CommonItems {
  background-img-opacity: 0;
  background-color-opacity: 0;
}

#GridShopHeaders {
  padding-right: 0px;
  background-color-opacity: 0.2;
}

#Main,
#GuideFlyout,
#SearchBox {
  background-color: #00000080;
}

#GuideFlyout {
  border-radius: 16px 0px 0px 16px;
}

/* g:panorama/styles/hud/dota_hud_stat_branch */
.AltPressed .DescriptionDrawer.HasDescription,
.DescriptionDrawer.HasDescription.DescriptionVisible {
  visibility: visible;
}

.BranchChoice .StatBonusLabel,
.StatBonusDescription {
  color: #ffffff;
}

.BranchChoice.Disabled .StatBonusLabel,
.StatBonusDescription {
  color: #aaaaaa;
}

.BranchDescription {
  background-color: #000000a0;
}

.LevelBG,
#StatUpgradeOption {
  background-image: none;
  background-color: none;
}

.StatBranchCenter {
  background-image: none;
  background-color: #000000d8;
}

#UpgradeStat,
#StatUpgradeOption {
  border: 0;
}

DOTAStatBranch:not(.ShowStatBranchAsTooltip) #UpgradeStat.could_level_up #UpgradeStatBG,
DOTAStatBranch:not(.ShowStatBranchAsTooltip) .BranchPair.BranchActive.RightBranchActive.LeftBranchActive,
DOTAStatBranch:not(.ShowStatBranchAsTooltip) .BranchPair.LeftBranchActive:not(.RightBranchActive),
DOTAStatBranch:not(.ShowStatBranchAsTooltip) .BranchPair.RightBranchActive:not(.LeftBranchActive) {
  background-image: none;
  background-color: #40251ec0;
}

/* g:panorama/styles/hud/dota_hud_top_bar */
#TopBarRadiantPlayersContainer,
#TopBarDirePlayersContainer {
  opacity: 0.6;
}

DOTATopBarPlayer #HeroBadgeOverlay {
  opacity: 0;
}

/* g:panorama/styles/hud/dota_hud_xp */
#CircularXPProgressBlur {
  opacity: 0;
}

/* g:panorama/styles/hud/hud_reborn */
/* margin-left doesn't apply? - overriden by other block with same name */
#center_bg {
  height: 155px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #00000040;
  border-radius: 32px 32px 0px 0px;
}

.MinimapExtraLarge #minimap {
  width: 318px;
  height: 318px;
}

#AbilitiesAndStatBranch {
  margin-bottom: 42px;
}

#inventory {
  margin-right: 102px;
}

#inventory_composition_layer_container {
  margin-right: 40px;
}

#inventory_tpscroll_slot,
#inventory_neutral_slot {
  box-shadow: fill #00000000 0px 0px 0px 0px;
  background-img-opacity: 0.5;
}

#MenuButtons {
  margin-left: 0px;
  margin-top: 0px;
  opacity: 0.25;
}

#MenuButtons:hover {
  opacity: 1;
}

#MorphProgress {
  margin-bottom: 30px;
}

/* g:panorama/styles/popups/popup_settings_reborn */
.SettingsContainer,
#SettingsNavigationContainer {
  background-color: #000000d8;
}

/* c:panorama/styles/tooltips/tooltip_base */
#Contents {
  background-color: #000000d8;
  border: 0;
}

/* g:panorama/styles/tooltips/tooltip_ability */
#Contents.AbilityContents {
  background-color: #000000d8;
}

#stats_container_bg {
  border-right: 0;
}

/* g:panorama/styles/tooltips/tooltip_innate */
.FacetContainer,
.InnateContainer {
  background-color: #000000d8;
}

DOTAFacetDetails#FacetDetails {
  background-color: none;
}

/* g:panorama/styles/tooltips/tooltip_radar */
DOTATooltipRadar #Contents {
  background-color: #000000d8;
}

/* g:panorama/styles/hud/tooltip_glyph */
DOTATooltipGlyph #Contents {
  background-color: #000000d8;
}

/* g:panorama/styles/tooltips/tooltip_roshantimer */
#Contents.RoshanTimerContents {
  background-color: #000000d8;
}

/* g:panorama/styles/hud/tooltip_unit_damage_armor */
DOTATooltipUnitDamageArmor #Contents {
  background-color: #000000d8;
}

#AttackContainer,
#DefenseContainer {
  background-color: none;
  border: 0;
}

/* g:panorama/styles/tooltips/tooltip_aghs_status */
#TopSection,
#AghsTooltipConnecter,
#BottomSection {
  background-color: #000000d8;
  background-image: none;
}

/* g:panorama/styles/tooltips/tooltip_neutral_crafting */
#Contents {
  background-color: #000000d8;
}

/* g:panorama/styles/hud/tooltip_gold */
DOTATooltipGold #Contents {
  background-color: #000000d8;
}

/* g:panorama/styles/hud/dota_hud_scoreboard */
#TeamInventoryBackground,
.SharedUnitControl#SharedUnitControl,
DOTASharedContent#SharedContent,
#ScoreboardCoaches {
  background-color: #000000d8;
  background-image: none;
  box-shadow: none;
}

/* g:panorama/styles/hud/dota_hud_shop */
/* fix for very wide dota plus guides */
.PlusGuide #GuideFlyout {
  width: 280px;
}
